# Compiled Object files
*.slo
*.lo
*.o
*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Misc. stuff
*.tar.gz
*.test
*.plist
*.DS_Store
*.swp

# Build directories.
bin/
docs/_build/
