body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.content li {
  font-size: 18px;
}

.label-primary {
  font-weight: lighter;
}

div.jumbotron {
  background: url("../images/bg.jpg") left top repeat;
}

div.body {
  font-family: Arial;
}

h2.section-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4.row-content {
  color: #aaa;
}

div.body-section {
  padding: 10px;
}

div.row-content {
  padding: 20px 0px 25px 55px;
}

div.row-content p {
  font-size: 16px;
  line-height: 150%;
}

div.row-section {
  margin-bottom: 25px;
}

div.footer {
  margin-top: 100px;
}

span.glyphicon {
  padding-right: 20px;
}